<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <mediaLibrary>
      <requestParser type="Sitecore.Support.Resources.Media.MediaRequest, Sitecore.Support.93391" patch:i="*[@type='Sitecore.Resources.Media.MediaRequest, Sitecore.Kernel']"/>
    </mediaLibrary>
  </sitecore>
</configuration>